{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'page/css/product.css' %}">

    <div class="row align-items-start">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h5 class="card-title">Sản Phẩm</h5>
                </div>
                <div class="card-body">
                    <table class="table-custom">
                        <thead>
                        <tr>
                            <th style="width: 10%">Mã Sản Phẩm</th>
                            <th style="width: 30%">Tên Sản Phẩm</th>
                            <th style="width: 10%">Sỡ Số</th>
                            <th style="width: 10%">ĐVT</th>
                            <th style="width: 20%">Thời Gian Nhập</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data_product %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.product_name }}</td>
                            <td>{{ item.size }}</td>
                            <td>{{ item.dvt }}</td>
                            <td>{{ item.c_time|date:"Y-m-d H:i:s" }}</td>
                            <td>
                                <a href="" class="btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <a href="" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-header text-center">
                        <h5 class="card-title">Thêm Sản Phẩm</h5>
                    </div>
                    <table class="table-custom" id="add-product">
                        <thead>
                        <tr>
                            <th >Tên Sản Phẩm</th>
                            <th style="width: 20%">Sỡ Số</th>
                            <th style="width: 20%">ĐVT</th>
                            <th style="width: 15%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="card" style="margin: 20px">

                    <div class="card-body">

                        <label> Tên Sản Phẩm</label>
                        <input type="text" class="form-control" placeholder="Tên Sản Phẩm" id="add_product">
                        <label> Cỡ Số</label>
                        <input type="text" class="form-control" placeholder="Cỡ Số" id="add_size">
                        <label> Đơn Vị Tính</label>
                        <div class="dropdown">
                            <input type="text" id="add_dvt" onclick="showDropdown()" onkeyup="filterFunction()"
                                   placeholder="Tìm kiếm...">
                            <div id="myDropdown" class="dropdown-content">
                                {% for dvt in data_measurement_unit %}
                                    <a>{{ dvt.text }}</a>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-success" onclick="click_add_product()">Thêm</button>
                        <button class="btn btn-danger">Hủy</button>
                    </div>
                    
                    <div class="card-footer text-center">
                        <button class="btn btn-success" onclick="click_save_product()">Lưu Sản Phẩm</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <script src="{% static 'page/js/product.js' %}"></script>
{% endblock %}